# サーバーの管理者が独自に変更・編集した設定ファイルは /etc/systemd/system フォルダに配置する
# /etc/systemd/system/redmine-unicorn.service
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/7/html/system_administrators_guide/sect-managing_services_with_systemd-unit_files

[Unit]
Description=Redmine Unicorn Server
After=mysqld.service

[Service]
WorkingDirectory=/var/www/redmine
Environment=RAILS_ENV=production
SyslogIdentifier=redmine-unicorn
PIDFile=/var/www/redmine/tmp/unicorn.pid

ExecStart=/usr/local/rbenv/shims/bundle exec unicorn -c config/unicorn.rb -E production
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
